/* Pagina Home */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.bg-custom {
    height: 100%;
    margin: 0;
    background-color: rgb(245, 245, 220); /* Cor Fundo Geral */
}

.navbar-nav {
    display: flex;
    justify-content: center;
    flex: 1;
}

.navbar-nav .nav-item {
    margin: 0 25px;
}

.navbar-toggler {
    margin-left: auto;
}

.navbar-collapse {
    flex-grow: 1;
}

.navbar-brand {
    margin-left: 30px; /* Ajusta a distância da margem esquerda */
    font-size: 1rem;
    color: rgb(30, 203, 30);
}

.navbar-nav .nav-link {
    color: white; /* Cor texto inicial */
    transition: color 0s ease;
    margin-left: 30px; /* Distancia texto */
}

.navbar-nav .nav-link:hover {
    color: black; /* Cor texto ao passar o mouse */
}

.btn-custom {
    /* Cor botão S/ Mouse em cima  */
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

/* Cor botão C/ Mouse em cima */
.btn-custom:hover {
    background-color: rgb(59, 59, 59);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.featurette-heading {
    font-size: 28px; /* Tamanho Titulo1 */
}

.featurette-heading .text-muted {
    font-size: 23px; /* Tamanho Subtitulo1 */
}

.lead {
    font-size: 16px; /* Tamanho texto1 */
}

.custom-img1 {
    width: 205%; /* Tamanho img1 */
    height: 290px; /* Ajusta a altura img1 */
    margin-left: 60px; /* Empurra para a direita img1*/
}

.contorno-imagem1 {
    border: 2px solid rgb(0, 0, 0); /* Contorno img1 */
}

.texto-meio {
    text-align: right;
}

.titulo-meio {
    text-align: right;
}

.custom-img2 {
    width: 405px; /* Tamanho img2 */
    height: auto; /* Ajusta a altura img2 */
    margin-right: 100px; /* Empurra para a direita img2*/
}

.contorno-imagem2 {
    border: 2px solid rgb(67, 17, 17); /* Contorno img2 */
}

.text-color{
    font-size: 17px;
    color: rgb(115, 14, 14);
    text-decoration: none;
    display: inline-block;
}

.texto-grande {
    font-size: 14px;
    text-align: left;
    color: rgb(0, 0, 0);
}

.cabeçalho-inferior{
    background-color: rgb(56, 82, 49);
    padding: 8px 0;
}

#mini-tela {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(245, 245, 220);
    background-color: rgb(0,0,0,0.950);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none; /* Inicialmente oculto */
    /*background-image: url('img/fundo.jpeg'); /* Adiciona a imagem de fundo */
    /*background-size: cover; /* Faz a imagem cobrir todo o elemento */
    /*background-position: center; /* Centraliza a imagem no fundo */
    /*background-repeat: no-repeat; /* Evita que a imagem se repita */
}

#mini-tela.mostrar {
    display: flex;
}

.mini-tela-conteudo {
    background: rgb(245, 245, 220);
    padding: 0px;
    border-radius: 18px;
    position: relative;
    width: 300px; /* Ajuste na largura */
    height: 220px; /* Ajuste na altura */
    max-width: 500px;/* Limite máximo da largura */
    box-sizing: border-box;/* Garante que o padding não aumente a largura total */
}
.cabeçalho1{
    color: rgb(255, 255, 255);
    font-size: 23px;
    margin-left: 50px;
    margin-top: -13px;
}

.cabecalho {
    background-color: rgb(1, 60, 1);
    padding: 20px;
    width: 100%;
    height: 10px;
    border-radius: 16px 16px 0 0;
    box-sizing: border-box;
}

.cabecalho-inferior{
    background-color: rgb(1, 60, 1);
    padding: 20px;
    width: 100%;
    height: 10px;
    border-radius: 16px 16px 0 0;
    box-sizing: border-box;
}

#fechar {
    cursor: pointer;
    font-size: 20px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    left: 10px;
}

.botão{
    margin-top: 10px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.849);
    border: 1px solid rgb(50, 50, 50);
    color: rgb(114, 106, 106);
    border-radius: 8px;
    font-size: 17px;
}

.error{
    font-size: 13px;
    color: rgb(235, 12, 12);
    margin-left: 10px;
    margin-top: 5px;
    width: fit-content; /* Ajusta a largura com base no conteúdo */
    text-align: center; /* Centraliza o texto dentro do elemento */
    display: inline-block;
}

.elemento-alinhado-input {
    margin-left: 25px;
    margin-top: -60px;
}

.elemento-texto-link {
    margin-top: 20px;
    text-align: left;
    margin-left: 15px;
    align-items: left;
    font-size: 15px;

}
.elemento-texto {
    text-align: left;
    margin-left: 14px;
    align-items: left;
    font-size: 15px;
}

.oculto {
    display: none;
}

.tamanho-texto {
    font-size: 13px;
    text-align: center;
}
#elemento-alinhado {
    margin-top: 10px;
    align-items: center; /* Ajusta o espaçamento em relação ao elemento acima */
}






/* Pagina Flores */

.planta-titulo{
    font-size: 30px;
    text-align: center;
    margin-left: 100px;
    color: rgb(0,0,0);
    
   
}

.planta-texto{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.planta-escrita{
    font-size: 17px;
    color: rgb(0,0,0);
    text-align: left;
    width: 70%;
}

.fundo-texto{
  
    margin-top: -30px;
    width: 1100px;  /* Largura */
    height: 90px;  /* Altura */
 
}

.flex-container {
    display: flex;
    height: 140px; /* Ajuste a altura conforme necessário */
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
  }

  .btn-outline-secondary {
    background-color: rgb(245, 245, 220);
    border-color: #989898;
    color: #000000;
   
}

.btn-outline-secondary:hover {
    background-color: #d8d2bc;
    border-color: #000000;
    color: rgb(0, 0, 0);
}

/* Estilize o modal */

.btn-custom1{
    background-color: rgb(245, 245, 220);
    border-color: #989898;
    color: #000000;
}

.btn-custom1:hover {
    background-color: #d8d2bc;
    border-color: #000000;
    color: rgb(0, 0, 0);
}

.modal-header {
    background-color: rgb(245, 245, 220); /* Cor de fundo do cabeçalho do modal */
    border-bottom: 1px solid #dee2e6; /* Borda inferior do cabeçalho do modal */
}

.modal-title {
    color: #000000; /* Cor do título do modal */
}

.modal-body p {
    color: #000000; /* Cor do texto dentro do corpo do modal */
}

.modal-footer {
    background-color: rgb(255, 255, 255); /* Cor de fundo do rodapé do modal */
    border-top: 1px solid #000000; /* Borda superior do rodapé do modal */
    padding: 5px 10px; /* Ajusta o padding */
    display: flex;
    justify-content: right; 
    align-items: center; /* Alinha verticalmente o conteúdo no centro, se necessário */
}

.plant-info {
    flex: 1; /* Permite que o texto ocupe o restante do espaço */
    margin: 0; /* Remove margem ao redor do texto */
    padding: 0; /* Remove preenchimento ao redor do texto */
}

.plant-image {
    max-width: 180px; /* Largura*/
    max-height: 290px; /* Altura*/
    height: auto; /* Mantém a proporção original da imagem */
    object-fit: cover; /* Faz a imagem cobrir o espaço disponível */
    flex-shrink: 0; /* Evita que a imagem encolha */
    margin: 0; /* Remove qualquer margem da imagem */
    border-radius: 12px;
    border: 1px solid;
}

.description-container {
    margin-top: 8px; /* Espaço acima da descrição */
  
}

